# Arquivos de Segurança e Credenciais (CRÍTICO)
credentials.json
service_account.json
.env

# Ambientes Virtuais (CRÍTICO)
venv_airflow/
venv/

# Lixo do Python e Dados
__pycache__/
*.pyc
*.csv
*.xlsx

# Arquivos de Estado do Airflow
airflow.db
airflow.cfg
logs/
.DS_Store

